!!! 5
html
  head
    style
      #btn { width: 200px; height: 200px; border: 1px solid #ccc; background: #f0f0f0; line-height: 200px; }
  body
    div#btn Click here to upload
    script(src='jquery/jquery.js')
    script(src='framejax/dist/jquery.framejax.js')
    script(src='jquery.imageuploader.js')
    script
      $('#btn')
        .imageUploader()
          .on('start', function() {
            console.log('start');
          })
          .on('fileSelect', function() {
            console.log('file selected');
          })
          .on('complete', function() {
            console.log('complete');
          })
